<!-- <ng-container *ngFor="let val of filteredValues">
    <button [hidden]="val === searchValue" (click)="emitAutocomplete(val)" type="button" class="btn btn-light"
        [innerHTML]=" val | highlight : searchValue"></button> <br>
</ng-container> -->

<!-- parent empty div is added so that we could apply required styles for the search options -->
<ng-template #autocompleteBlock>
    <div>
        <ng-content select="[autocompleteOptions]"></ng-content>
    </div>
</ng-template>


<ng-container *ngTemplateOutlet="autocompleteBlock"></ng-container>