<div class="ap-container">
  <h1 id="main_title">Welcome to type ahead, control value accessor and RxJs practice</h1>

  <form [formGroup]="searchForm">
    <label for="ap-input"></label>
    <input id="ap-input" class="form-control" formControlName="searchState" placeholder="Search US state..."
      search-listener type="text" appFormControlValidationMsg validationMsgId="searchState" />


    <app-autocomplete (autocomplete)="getSearchOutput($event)" [params]="filteredValues"
      [sv]="searchForm.controls.searchState.value" formControlName="options">
    </app-autocomplete>
  </form>
  <br>
  <span>Valid: {{this.searchForm.controls.options.status}}</span>

  <div class="mt-4">
    <app-select-rating [formControl]="stars" [params]="ratingParams"></app-select-rating>
    <pre>
    <span [ngClass]="{'badge-success' : stars.valid, 'badge-danger':  !stars.valid}"> Valid: {{stars.valid}}</span>
    <span
      [ngClass]="{'badge-danger': stars.errors, 'badge-success': !stars.errors }"> Errors: {{stars.errors | json}}</span>
  </pre>
  </div>

  <app-weather></app-weather>
</div>