<div class="ap-container">
  <h1 id="main_title">Welcome to type ahead, control value accessor and RxJs practice</h1>
  <form class="mt-4" novalidate>
    <input [formControl]="searchState" placeholder="Search county..." autocomplete="off" class="form-control"
      type="text" /> <br>
    <ng-container *ngFor="let state of filteredStates">
      <button [hidden]="state === searchState.value" (click)="fillInput(state)" type="button"
        class="btn btn-light">{{ state }}</button> <br>
    </ng-container>
  </form>

  <app-select-rating [formControl]="stars" [params]="ratingParams"></app-select-rating>
  <pre>
    <span [ngClass]="{'badge-success' : stars.valid, 'badge-danger':  !stars.valid}">Stars valid: {{stars.valid}}</span>
        <span [ngClass]="{'badge-danger': stars.errors, 'badge-success': !stars.errors }">  Errors: {{stars.errors | json}}</span>
    
  </pre>
</div>